<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"

          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
</head>
<body>
<h1  style="text-align:center"> Student Management System</h1>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<table>
    <tr>
        <td>
            <form class="w-50" autocomplete="off" onsubmit="event.preventDefault;onFormSubmit()">
                <div>
                    <label for="id">id</label>
                    <input type="text" name="id" id="id" readonly placeholder="id">
                </div>
                <div>
                    <label for="firstname">first name</label>
                    <input type="text" name="first name" id="firstname">
                </div>
                <div>
                    <label for="lastname">last name</label>
                    <input type="text" name="last name" id="lastname">
                </div>
                <div>
                    <label for="nic">nic</label>
                    <input type="number" name="nic" id="nic">
                </div>
                <div>
                    <label for="department">department</label>
                    <input type="text" name="department" id="department">
                </div>
                <div>
                    <label for="email">email</label>
                    <input type="text" name="email" id="email">
                </div>



                <div class="d-flex justify-content-center">
                    <input type="submit" value="create">
                    <input type="reset" value="Reset">
                </div>
            </form>

        <td>
            <table class="table table-striped" id="stu">
                <thead>
                <tr>
                    <th>id</th>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>nic</th>
                    <th>department</th>
                    <th>email</th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </td>
        </td>
    </tr>
</table>
<!--script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
<!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="script.js" ></script>
</body>
</html>